<footer class="footer ">
    <div class="nav containerme flexme justify-betweenme align-centerme">
        <ul class="flexme align-centerme justify-centerme">
            <li>首頁</li>
            <li>系列鏡框</li>
            <a href="set.html"><li>門市據點</li></a>
            <a href="blog.html"><li>部落格</li></a>
            <a href="faq.html"><li>常見問題</li></a>
        </ul>
        <div class="nav-icon flexme">
            <a href=""><img src="../assets/img/ic-social-fb.png" alt="fb"></a>
            <a href=""><img src="../assets/img/ic_social_ig.png" alt="ig"></a>
            <a href=""><img src="../assets/img/ic_social_line.png" alt="line"></a>
        </div>
    </div>
    <div class="contanct containerme">
        <div class="tel flexme justify-betweenme">
            <div class="tel-one flexme  align-centerme">
                <span class="material-symbols-outlined mr-5 footer-txt">
                    call
                </span>
                <p>0800-000-000</p>
            </div>
            <div class="flexme align-centerme justify-centerme">
                <a href=""><img src="../assets/img/ic-social-fb.png" alt="fb"></a>
                <a href=""><img src="../assets/img/ic_social_ig.png" alt="ig"></a>
                <a href=""><img src="../assets/img/ic_social_line.png" alt="line"></a>
            </div>
        </div>

            <div class="mail flexme  align-centerme">
                <span class="material-symbols-outlined mr-5 footer-txt">
                    mail
                </span>
                <p>glasses@business.com</p>
            </div>

            <div class="copyright flexme justify-betweenme">
                <p>Copyright © 2020 Glasses.All rights reserved.</p> 
                <div class="flexme copyright-col">
                    <p class="copyright-txt">隱私權政策</p>
                    <p>服務條款</p>
                </div>
            </div>
    </div>
    
    
</footer>