<footer class="footer ">
    <div class="nav container flex justify-between align-center">
        <ul class="flex align-center justify-center">
            <li>首頁</li>
            <li>系列鏡框</li>
            <a href="set.html"><li>門市據點</li></a>
            <a href="blog.html"><li>部落格</li></a>
            <a href="faq.html"><li>常見問題</li></a>
        </ul>
        <div class="nav-icon flex">
            <a href=""><img src="../assets/img/ic-social-fb.png" alt="fb"></a>
            <a href=""><img src="../assets/img/ic_social_ig.png" alt="ig"></a>
            <a href=""><img src="../assets/img/ic_social_line.png" alt="line"></a>
        </div>
    </div>
    <div class="contanct container">
        <div class="tel flex justify-between">
            <div class="tel-one flex  align-center">
                <span class="material-symbols-outlined mr-5 footer-txt">
                    call
                </span>
                <p>0800-000-000</p>
            </div>
            <div class="flex align-center justify-center">
                <a href=""><img src="../assets/img/ic-social-fb.png" alt="fb"></a>
                <a href=""><img src="../assets/img/ic_social_ig.png" alt="ig"></a>
                <a href=""><img src="../assets/img/ic_social_line.png" alt="line"></a>
            </div>
        </div>

            <div class="mail flex  align-center">
                <span class="material-symbols-outlined mr-5 footer-txt">
                    mail
                </span>
                <p>glasses@business.com</p>
            </div>

            <div class="copyright flex justify-between">
                <p>Copyright © 2020 Glasses.All rights reserved.</p> 
                <div class="flex copyright-col">
                    <p class="copyright-txt">隱私權政策</p>
                    <p>服務條款</p>
                </div>
            </div>
    </div>
    
    
</footer>