<nav class="navbar bg-primary">
    <div class="navbar-wrap container-header flex justify-between align-center">
        <a href="#" class="navbar-logo">
            <img src="../assets/img/logo-white.png" alt="">
        </a>
        <ul class="navbar-nav flex align-center">
            <li class="navbar-item flex justify-center align-center"><a href="#" class="navbar-link">系列鏡框</a></li>
            <li class="navbar-item flex justify-center align-center"><a href="set.html" class="navbar-link">門市據點</a></li>
            <li class="navbar-item flex justify-center align-center"><a href="blog.html" class="navbar-link">部落格</a></li>
            <li class="navbar-item flex justify-center align-center"><a href="faq.html" class="navbar-link">常見問題</a></li>
        </ul>
    </div>
</nav>