<nav class="navbara bg-primary">
    <div class="navbara-wrap container-header flexme justify-betweenme align-centerme">
        <a href="index.html" class="navbara-logo">
            <img src="../assets/img/logo-white.png" alt="">
        </a>
        <ul class="navbara-nav flexme align-centerme">
            <li class="navbara-item flexme justify-centerme align-centerme"><a href="serise.html" class="navbara-link">系列鏡框</a></li>
            <li class="navbara-item flexme justify-centerme align-centerme"><a href="set.html" class="navbara-link">門市據點</a></li>
            <li class="navbara-item flexme justify-centerme align-centerme"><a href="login.html" class="navbara-link">管理登入</a></li>
            <li class="navbara-item flexme justify-centerme align-centerme"><a href="faq.html" class="navbara-link">常見問題</a></li>
        </ul>
    </div>
</nav>