<nav class="nav d-flex flex-column bg-light justify-content-space">
   <img src="../assets/img/logo-ANSWER.svg " class="my-5 m-img" alt="">
   <div class="d-flex flex-column ">
    <a class="nav-link link-dark ms-2  d-flex aligen-items-center" aria-current="page" href="#">
            <span class="material-icons me-3 ">
                assessment
            </span>
            會員管理
        </a>
        <a class="nav-link link-dark ms-2  d-flex aligen-items-center active" href="#">
            <span class="material-icons me-3">
                question_answer
                </span>
            產品管理</a>
       
   </div>
   
        <div class="user d-flex position-absolute ms-2">
        
            <div class="ms-3">
                <p class="m-0 p-0 f16 ">Andy Chen</p>
                <p class="m-0 p-0 f14 text-secondary">andy0401@mail.com</p>
            </div>
            
        </div>



</nav>