.faq{
    .title{
        padding-top: 96px;
        @media (max-width:768px) {
            padding-top: 80px;
        }
        @media (max-width:375px) {
            padding-top: 52px;
        }
        p{
            font-size: 48px;
            @media (max-width:375px) {
                font-size: 24px;
            }
            line-height: 1.5;
            font-weight:bolder;
            border-left: 10px solid #9F1213;
            padding-left: 16px;
            
        }
    }
    .section{
        margin-top: 32px;
        @media (max-width:375px) {
            margin-top: 24px;
        }
        margin-bottom: 24px;
        p{
            font-size: 24px;
            font-weight: bolder;
        };
    }
    .qtitle{
        font-size: 20px;
        font-weight: bold;
    }
    .ans{
        p{
            font-size: 16px;
            width: 80%;
            margin-top: 8px;
            margin-bottom: 32px;
            @media (max-width:375px) {
                margin-bottom: 24px;
            }
            @media (max-width:768px) {
                width: 100%;
            }
        }
    }
    .qa5{
        padding-bottom: 48px;
        @media (max-width:375px) {
            padding-bottom: 32px;
        }
    }
}
