.store-set {
    margin-top: 96px;
    @media (max-width:996px) {
        margin-top: 80px;
    }
    @media (max-width:767px) {
        margin-top: 40px;
        
    }
    border-left: 10px solid #9F1213;
    margin-bottom: 33px;
    @media (max-width:576px) {
        margin-bottom: 30px;
    }

    p {
        @media (max-width:767px) {
            font-size: 24px;
        }
        font-size: 48px;
        margin-left: 16px;
    }

}
.sel-store{
    margin-bottom: 40px;
    @media (max-width:767px) {
        margin-bottom: 30px;
    }
}


.cardmap{
    margin-bottom: 80px;
    @media (max-width:996px) {
        flex-wrap: wrap;
    }
    @media (max-width:767px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .card {
        @media (max-width:996px) {
           margin-bottom: 24px;
           
            display: flex;
        }
        
        @media (max-width:767px) {
            flex-direction: column;
            margin-bottom: 60px;
        }
        img {
            border: 1px solid #00000020;
            
            @media (max-width:768px) {
                width: 100%;
            }
        }

        .p-title {
            font-size: 24px;
            line-height: 1.5;
            border-bottom: 1px solid #00000020;
            border-left: 1px solid #00000020;
            border-right: 1px solid #00000020;
            padding: 0 8px;
           
        }

        .info {
            @media (max-width:996px) {
                width: 50%;
                margin-left: 24px;
            }
            @media (max-width:767px) {
                width: 100%;
                margin-left: 0;
            }

            border: 1px solid #00000020;

            p {
                margin-top: 8px;
                font-size: 20px;
            }
        }
    }
    .mapw{
        width: 100%;
        height: 372px;
        margin-left: 24px;
        @media (max-width:996px) {
            margin-left: 0;
        }
        @media (max-width:767px) {
            // margin-left: 24px;
          
        }
        .map{
            width: 100%;
            height: 100%;
           
            @media (max-width:767px) {
                width:100%;
                height: 414px;
            }
        }
    }
   
    
}