

.containerme{
    margin: 0 auto;
    // PC 
    max-width: 1320px;
    padding: 0 12px;
    @media (max-width:767px) {
      max-width: 720px;
     padding: 0 36px;
  }
  @media (max-width:576px) {
    max-width: 372px;
    padding: 0 13px;
  }
  
  }
  //padding
  .py-8{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  // margin

  .ml-20{
    margin-left: 20px;
  }
  .ml-24{
    margin-left: 24px;
  }
  .my-8{
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .mb-16{
    margin-bottom: 16px;
  }
  .mb-40{
    margin-bottom: 40px;
  }