<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
    <title>眼鏡系列</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

<div class="loginmain">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
               <div class="card mt-5 mb-5" id="logincard">
                <div class="mb-3 mt-5 d-flex  justify-content-center">
                    <label for="name" class="form-label ms-3 me-1">帳號名稱</label>
                    <input type="text" class="form-control w-50" id="admin">
                </div>
                <div class="mb-3 d-flex justify-content-center">
                    <label for="name" class="form-label ms-3 me-1">密碼</label>
                    <input type="password" class="form-control w-50" id="password">
                </div>
                <div class="text-center mb-3">
                    <button class="btn btn-danger">取消</button>
                    <button class="btn btn-success" id="ok_btn">確認</button>   
                </div>

               </div>
            </div>
        </div>
    </div>
</div>
    
   
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module"  src="/assets/js/login.js"></script>

  </body>
</html>
